<a href="https://colab.research.google.com/github/Elilora/Hamoye_Stage_A_Quiz/blob/main/Hamoye_Stage_A_Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from google.colab import drive

In [2]:
drive.mount('/content/drive')

Mounted at /content/drive

In [32]:
Food_data=pd.read_csv("/content/drive/MyDrive/FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding="ISO-8859-1")
Food_data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [ ]:
Food_data.isnull().sum()

QUESTION 11

In [47]:
Items=Food_data.groupby("Item").sum()
Items_14_17=Items[["Y2014", "Y2017"]]
Animal_fats=Items_14_17.loc["Animal fats"]
Animal_fats

Y2014    209460.54
Y2017    269617.53
Name: Animal fats, dtype: float64

QUESTION 12

In [30]:
mean_2015=Food_data["Y2015"].mean()
print("{:.3f}".format(mean_2015))
std_2015=Food_data["Y2015"].std()
print("{:.3f}".format(std_2015))

135.236
1603.404

QUESTION 13

In [7]:
sum_of_nan_2016=Food_data["Y2016"].isnull().sum()
print("{:.2f}".format(sum_of_nan_2016))
percentage_of_missing_values=(sum_of_nan_2016*100)/len(Food_data["Y2016"])
print("{:.2f}".format(percentage_of_missing_values))

1535.00
2.52

QUESTION 14

In [13]:
Food_data.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

QUESTION 15

In [ ]:
Element_group=Food_data.groupby("Element").sum()
Element_group

In [16]:
Element_group.loc["Import Quantity"]

Area Code         688174.00
Item Code       13795966.00
Element Code    28834929.00
Y2014             274144.48
Y2015             267018.46
Y2016             286582.78
Y2017             294559.09
Y2018             287997.09
Name: Import Quantity, dtype: float64

QUESTION 16

In [26]:
sum_2014=Food_data[["Element","Y2014"]].groupby("Element").sum()
sum_2014.loc["Production"]

Y2014    1931287.75
Name: Production, dtype: float64

QUESTION 17

In [ ]:
sum_2018=Food_data[["Element","Y2018"]].groupby("Element").sum()
sum_2018

In [24]:
sum_2018.nlargest(1,["Y2018"])

                              Y2018
Element
Domestic supply quantity  2161192.1

QUESTION 18

In [23]:
sum_2018.nsmallest(3,["Y2018"])

                                           Y2018
Element
Tourist consumption                        90.00
Fat supply quantity (g/capita/day)      10258.69
Protein supply quantity (g/capita/day)  11833.56

QUESTION 19

In [17]:
Algeria=Food_data.loc[Food_data["Area"]=="Algeria"]
Algeria_2018=Algeria[["Element","Y2018"]].groupby("Element").sum()
print(Algeria_2018.loc["Import Quantity"])

Y2018    36238.29
Name: Import Quantity, dtype: float64

QUESTION 20

In [27]:
Food_data["Area"].nunique()

49